$primary: #2867ac;
$secondary: #f1f1f1;

$hero-body-padding-medium: 6rem 1.5rem;
$section-padding-medium: 6rem 1.5rem;

$is-family-primary: 'Raleway' !important;
$is-family-secondary: 'Open Sans' !important;

@import '../../node_modules/bulma/bulma';
@import 'utility';
@import 'main';


@import 'pages/privacypolicy';
@import 'pages/contact';
@import 'pages/home';
@import 'partials/nav';

@import 'typography';