/* Base Settings */
.container {
    max-width: 1140px !important;
}

/* Subheader */
@media only screen and (max-width: 968px)  {
.subheader {
    margin-top: 3.3rem;
}
}

/* Found in navigation */
.nav_logo { 
    max-width: 250px;
    height: 100%;
}


/* Found in footer */
.footer_logo { 
    width: 200px;
}
footer {
    
    .nav-link {
    color: $secondary !important;

    &:hover {
        color: $primary;
    }
}
}
.fill-brand-footer {
    width: 20px;
    height: 20px;
    fill: white;

    &:hover {
        fill: $primary;
    }
}