<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- partial "seo.html" . }}
    <!-- CSS Processing -->
    {{ $styles := resources.Get "scss/import.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;800&display=swap" rel="stylesheet">
    {{- partial "gtm-head.html" . }}
</head>
<body id="content">
    {{- partial "nav.html" . }}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . }}
    {{- partial "script.html" . }}
    {{- partial "gtm-body.html" . }}
</body>
</html>