<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- partial "seo.html" . }}
    <!-- CSS Processing -->
    {{ $styles := resources.Get "scss/import.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

    {{- partial "gtm-head.html" . }}
</head>
<body>
    {{- partial "nav.html" . }}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . }}
    {{- partial "script.html" . }}
    {{- partial "gtm-body.html" . }}
</body>
</html>