{{ define "main" }}
<header class="hero is-fullheight is-bold is-primary">

    <div class="hero-body">
  
      <div class="container">
            <div class="is-flex is-column is-aligned-center-touch is-justified-center-touch">
            <h1 class="title is-size-1 mb-5" data-aos="fade" data-aos-duration="1200">
              Boilerplate theme
            </h1>
            <h2 class="subtitle is-size-2">
                By Supersonic
            </h2>
        </div>
      </div>
  
    </div>
  
</header>
<section class="section is-medium">
    <div class="container">
        <h2 class="is-size-2">
            Welcome
        </h2>
        <p class="block">
            This is a block text
        </p>
    </div>
</section>
{{ end }}